body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.center, content{
    text-align: center;
    }
.block{
    display: flex;
    flex-wrap: wrap;
}
.block div{
    flex-basis: 300px;
}